extends layout

block content
  if user
    .menu-bar
      ul
        li
          a(href="/parkings/create" class={active: currentUrl === "/parkings/create/new"}) 
            i.fa.fa-save
            |  Enregistrer son parking
        li
          a(href="/parkings/" class={active: currentUrl === "/parkings"}) 
            i.fa.fa-ticket
            |  Faire une reservation
        li
           a(href="/parkings" class={active: currentUrl === "/parkings"})
            i.fa.fa-ticket
            |  Faire une location
        li
          a(href='/roles')
            i.fa.fa-newspaper-o
            |  Publications
        li.active
          a(href='')
            i.fa.fa-user
            |  #{user.username}
          .sub-menu-1
            ul
              li
                a(href='/account') Profil
              li
                a(href='') Mes reservations
              li
                a(href='') Mes parkings
              li
                a(href='') Dashboard
        li
          a(href='/logout')
            i.fa.fa-sign-out
            |  Se d&eacute;connecter
    //- p Hello, #{user.username}, good to see you!
    p Bonjour, 
      b #{user.username}, 
        i Cela fait plaisir de te revoir!
    p Bienvenue sur Placetopark
    h1 Tes informations
    table.table
      thead
        tr
          th(scope="col") Nom
          th(scope="col") Prénom
          th(scope="col") Telephone
          th(scope="col") Adresse mail
      tbody
        tr
          td= user.nom
          td= user.prenom
          td= user.telephone
          td= user.usermail
  else
    p Please log in...