doctype html
html
  head
    title= title
    link(rel="stylesheet", href="../stylesheets/style.css")
    link(
      rel="stylesheet",
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css",
      integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK",
      crossorigin="anonymous")
    script(
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js",
      integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD",
      crossorigin="anonymous")
  body
    header
      nav.navbar.navbar-expand-sm.navbar-success.bg-light.shadow
        // Brand/logo
        a.navbar-brand(href="/" class={active: currentUrl === "/"})
          img(src='./images/logo.png' alt='Logo' style='width:70px;')
        .container
          ul.navbar-nav        
          ul.nav.navbar-nav.navbar-right
            if user
              li.nav-item
                a.nav-link(href="/locations" class={active: currentUrl === "/locations"})
                  button.btn.btn-outline-success(type='button') Faire une location 
              li.nav-item
                a.nav-link(href="/places" class={active: currentUrl === "/places"})
                  button.btn.btn-outline-success(type='button') Proposer une place
              li.nav-item
                a.nav-link(href="/parkings" class={active: currentUrl === "/parkings"})
                  button.btn.btn-outline-success(type='button') Rechercher un parking
              li.nav-item
                a.nav-link(href="/adresses/create" class={active: currentUrl === "/adresses/create/new"}) 
                  button.btn.btn-outline-success(type='button') Proposer un parking 
              // Dropdown
              li.nav-item.dropdown
                a#navbardrop.nav-link.dropdown-toggle(href='#' data-toggle='dropdown')
                  | #{user.username}!
                .dropdown-menu
                  a.dropdown-item(href="/account" class={active: currentUrl === "/account"}) Mon compte
                  a.nav-link(href="/mesParkings" class={active: currentUrl === "/mesParkings"}) mes parkings
                  a.nav-link(href="/reservations" class={active: currentUrl === "/reservations"}) mes reservations
                  a.nav-link(href="/dashboard") Dashboard
                  a.nav-link(href="/logout") Logout 
            if !user 
              li.nav-item
                  a.nav-link(href="/login" class={active: currentUrl === "/login"})
                    button.btn.btn-outline-success(type='button') Se connecter
            //- li.nav-item
            //-     a.nav-link(href="/signup" class={active: currentUrl === "/signup"})
            //-       button.btn.btn-outline-success(type='button') Créer un compte
    main
      .container
        section
          block content
          if !user
            p Un site de réservation de parking entre particuliers pratique et facile