extends layout

block content

  h1= title
  form(action="/locations/create", method="post")
    .mb-3
      label(for="date_DebutInput") Date de début:
        input(type='date', id="dateRes" name='date_Debut', value='2021-01-02', min='2021-01-01', max='2050-12-31' readonly)
    .mb-3
      label(for="date_FinInput") Date de Fin:
        input#date_Fin(type='date', name='date_Fin', value='2021-01-02', min='2021-01-01', max='2050-12-31')
    .mb-3
      label(for="heure_ArriveeInput") Heure de Fin:
        input#heure_Arrivee(type='time', name='heure_Arrivee', value='09:00', min='00:00', max='23:59')
    br
    .mb-3
      label(for="heure_FinInput") Heure de Fin:
        input#heure_Fin(type='time', name='heure_Fin', value='09:00', min='00:00', max='23:59')
    br
    .mb-3
      label.form-label(for="validationReservationInput") validation non:
      input#validationReservationInput.form-control(type="checkbox", name="validationReservation" value="false")
      label.form-label(for="validationReservationInput") validation oui:
      input#validationReservationInput.form-control(type="checkbox", name="validationReservation" value="true")
    br
    .mb-3
        label.form-label(for="vehiculeId") Entrer l'immatricultaion du véhicule
        select#vehiculeId(name="vehiculeId")
            each vehicule in vehicules
                option(value=vehicule.id) #{vehicule.numero_immatriculation}
    br
    .mb-3
        label.form-label(for="placeId") dimension de la place
        select#placeId(name="placeId")
            each place in places
              option(value=place.id) #{place.dimension} 
    br
    .mb-3 
      label.form-label(for="userIdInput") Nom de l'utilisateur:
      input#userIdInput.form-control(type="text", name="userId", value=user.id hidden)
      input#Input.form-control(type="text", name="", value=user.username)
    br
    .mb-3
      button.btn.btn-primary(type="submit") Save
      | &nbsp;
      a.nav-link(href="/locations" class={active: currentUrl === "/locations"}) 
        button.btn.btn-outline-success(type='button' style='color: #009688') Retour
    .mb-3
      button.btn.btn-primary(type="submit") Save
      | &nbsp;
      a.btn.btn-outline-danger(href="/locations") Cancel

  script.
    $('#dateRes').val(new Date().toJSON().slice(0,10));