extends layout

block content

  if user
    .menu-bar
      ul
        li.active
          a(href='#')
            i.fa.fa-home
            |  Accueil
        li
          a(href='')
            i.fa.fa-ticket
            |  Reserver un parking
          .sub-menu-1
            ul
              li.hover-me
                a(href='')
                | Profil
                i.fa.fa-angle-right
                .sub-menu-2
                  ul
                    li
                      a(href='/account') Profil
                    li
                      a(href='') Mes reservations
                    li
                      a(href='') Mes parkings
                    li
                      a(href='') Dashboard
              li
                a(href='') Mes reservations
              li
                a(href='') Mes parkings
              li
                a(href='') Dashboard
        li
          a(href='/publications')
            i.fa.fa-newspaper-o
            |  Publications
        li
          a(href='')
            i.fa.fa-save
            |  Enregistrer son parking
        li
          a(href='')
            i.fa.fa-user
            |  #{user.username}
          .sub-menu-1
            ul
              li
                a(href='/account') Profil
              li
                a(href='') Mes reservations
              li
                a(href='') Mes parkings
              li
                a(href='') Dashboard
        li
          a(href='/logout')
            i.fa.fa-sign-out
            |  Se d&eacute;connecter

  h1= name
  form(action="/locations/"+location.id, method="post")
    .mb-3
      label.form-label(for="date_DebutInput") date_Debut
      input#date_DebutInput.form-control(type="date", name="date_Debut", value=location.date_Debut)
    .mb-3
      label.form-label(for="date_FinInput") date_Fin
      input#date_FinInput.form-control(type="date", name="date_Fin", value=location.date_Fin)
    .mb-3
      label.form-label(for="heure_DebutInput") heure_Debut
      input#heure_DebutInput.form-control(type="time", name="heure_Debut", value=location.heure_Debut)
    .mb-3
      label.form-label(for="heure_FinInput") heure_Fin
      input#heure_FinInput.form-control(type="time", name="heure_Fin", value=location.heure_Fin)
    .mb-3
      button.btn.btn-primary(type="submit") Save
      | &nbsp;
      a.btn.btn-outline-danger(href="/locations/"+location.id) Cancel