extends layout 

block content 
  body(style='background-color:powderblue;')
    center()
      h2(style='text-transform: uppercase') Enregistrer votre publication
      form(action="/publications/create" method="post")
        label(for="description") Description:
        br
            //- input.input-box(name='description' type='text' placeholder='Votre description' required='')
        textarea#description(type="text", name='description' placeholder='Votre description' required='' rows='4' cols='50' maxlength='200')
        |
        br
        .mb-3
          //- label.form-label(for="userUsernameInput") Nom de l'utilisateur
          //- select#userUsernameInput(name="userUsername" value=user.username)
        //- each u in users
          option(value=u.username) #{u.username}
        label.form-label(for="userIdInput") Nom de l'utilisateur:
        input#userIdInput.form-control(type="text", name="userId", value=user.id hidden)
        input#Input.form-control(type="text", name="", value=user.username)
        br   
            //- .mb-3
            //- label.form-label(for="typeVehiculeId") Type de véhicule
            //- select#typeVehiculeId(name="typeVehiculeId")
            //-     each typeVehicule in typeVehicules
            //-         option(value=typeVehicule.id) #{typeVehicule.nom}         
        button.btn.btn-primary(type="submit") Save
        br
        br
        button.btn.btn-primary
            a.btn.btn-outline-danger(href="/publications") Cancel