extends layout

block content
  body(style='background-color:powderblue;')
    center()
      h1(style='text-transform: uppercase;') Détails du parking
      p 
        i ID du parking: 
        b(style='color: #009688') #{tarif.parkingId}
      p 
        i Nombre de places dans le parking:  
        b(style='color: #009688') #{tarif.parking.nombrePlaces}
      p 
        i Type de véhicules dans ce parking : 
        b(style='color: #009688') #{tarif.typeVehicule.nom} 
      p 
        i Tarif(€/min): 
        b(style='color: #009688') #{tarif.montant} 
      p 
        i Type de trafic: 
        b(style='color: #009688') #{tarif.trafic.nom} 
    
      a.nav-link(href="/vehicules/create" class={active: currentUrl === "/vehicules/create/new"}) 
        button.btn.btn-outline-success(type='button' style='color: #009688') Faire une réservation?
      p OU
      a.nav-link(href="/vehicules/create" class={active: currentUrl === "/vehicules/create/new"}) 
        button.btn.btn-outline-success(type='button' style='color: #009688') Faire une location?
      p OU
      a.nav-link(href="/tarifs" class={active: currentUrl === "/tarifs"}) 
        button.btn.btn-outline-success(type='button' style='color: #009688') Retour