extends layout 

block content 
  body(style='background-color:powderblue;')
    center()
      h2(style='text-transform: uppercase;') Entrer votre tarif 
        //- i.fa.fa-registered
        //- i.fa.fa-registered(style='font-size:48px;color:red')
        //- i.fa.fa-save

    
      div(style='display: flex; justify-content: space-around')
        div(style='border: 5px; background-color: lightblue; text-align: left;')
          p Disponibilité: 
            i   
              b tout le temps  24h/24
          p J'accepte 
            b les locations au mois (30 jours de préavis)
          p J'accepte 
            b les locations ponctuelles
        div(style='border: 5px ; background-color: lightblue; text-align: left;')
          form#form(action="/tarifs/create" method="post")
            .mb-3
              label.form-label(for="montantInput") Entrez le tarif de la place (€)/min:
              input#montantInput.form-control(type="number" inputmode="decimal" name="montant", step=0.01) 

              //- input#montantInput.form-control(type="number" inputmode="decimal" name="montant", step=0.01) 
            br
            .mb-3
              label.form-label(for="typeVehiculeIdSelect") typeVehicule:
              select#typeVehiculeIdSelect(name="typeVehiculeId")
                each typeVehicule in typeVehicules
                  option(value=typeVehicule.id) #{typeVehicule.nom} 
            br
            .mb-3
              label.form-label(for="parkingIdSelect") Nombre de places dans le parking:
              select#parkingIdSelect(name="parkingId")
                each parking in parkings
                  option(value=parking.id) #{parking.nombrePlaces} 
            br
            .mb-3
              label.form-label(for="traficIdSelect") trafic: 
              select#traficIdSelect(name="traficId")
                each trafic in trafics
                  option(value=trafic.id) #{trafic.nom} 
            br
            
            .mb-3
              button.btn.btn-primary(type="submit") Save
                i.fa.fa-save
              | &nbsp;
              button.btn.btn-primary
                a.btn.btn-outline-danger(href="/adresses/create") Cancel
                i.fa.fa-window-close
              | &nbsp;